.overview {
  display: flex;
  width: 100%;
  
}

.overview-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.banner {
  aspect-ratio: 16/4;
  width: 100%;
  background-position: center;
  background-size: contain;
  border: 4px solid #dcb895;
  border-radius: 5%;
  background-image: linear-gradient(90deg, #7e553c,#af896a, #af896a, #dcb895, #e6ccb4, #ede0d5);
}

.overview-center {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.avatar {
  background: #7e553c;
  height: 150px;
  width: 150px;
  border: 4px solid #dcb895;
  border-radius: 10%;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(90deg,#7e553c,#af896a, #af896a, #dcb895, #e6ccb4, #ede0d5);
}

.overview-center-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bolder;
  color: #fc5a8d;
  text-shadow:  3px 3px 10px #fc5a8d;;
}

.overview-center-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 4px solid #dcb895;
  background: #7e553c;
  border-radius: 10px;
}

.social-button {
  border-radius: 16px;
  height: 2rem;
}

.overview-tag {
  color: #dcb895;
  font-size: 1.5rem;
  font-weight: 900;
}

.tag-details {
  font-size: 1.2rem;
  color: #dcb895;
}

.new-post {
  background: url('../../../assets/oven.png');
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}
.post-button {
  width: 100%;
  border-radius: 1rem;
  color: white;
  font-weight: 900;
  text-shadow: 3px 3px 5px black;
}

.profileBtn {
  text-align: center;
  width: 10rem;
  color: #de42cc;
  font-weight: bolder;
  background-image: url(../../../assets/breadbtn.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-shadow: 1px 1px 2px black;

}

.overview-left-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.breader-container {
  height: 400px;
}

.box-canvas {
  position: relative;
  width: 600px;
  height:600px;
  background: transparent;
}

.breaderName {
  text-align: center;
color: #7e553c;
font-weight: bold;
font-family: fantasy;
font-size: xxx-large;
padding-top: 25%;
text-shadow: 3px 3px 5px white;
}

.breader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  background: rgb(185, 182, 182);
  border-radius: 25% 25% 10% 10%;
  box-shadow: inset 0 0 30px rgb(62, 60, 60);
  border-bottom: 20px solid #7e553c;
}


@keyframes handlePop {
   0% {
    bottom: 20px;
  }
  
  10% {
    bottom: 30px;
 }
  
  70% {
     bottom: 30px;
  }
  
  75% {
     bottom: 90px;
  }
}
.breader::after {
  content: '';
  position: absolute;
  right: -30px;
  bottom: 20px;
  width: 30px;
  height: 10px;
  background: #7e553c;
  border-radius: 0 30% 30% 0;
  animation: handlePop 3s infinite;
}

@keyframes breadPop {
  0% {
    top: 150px;
  }
  
  10% {
    top: 20px;
 }
  
  12% {
    top: 100px;
  }
  
  70% {
     top: 100px;
  }
  
  75% {
    top: 150px;
  }
}

.bread {
  position: absolute;
  left: 190px;
  top: 150px;
  width: 200px;
  height: 300px;
  color: #7e553c;
  animation: breadPop 3s infinite;
}

.bread::after {
  content: '';
  position: absolute;
  left: 100px;
  top: 145px;
  width: 0px;
  height: 0px;
  background: rgba(202, 125, 37, 0.6);
  box-shadow: 0 0 45px 75px #CA7D25;
}

.bread-inner {
  position: absolute;
  width: 198px;
  height: 180px;
  top: 50px;
  left: 1px;
  border: 5px solid;
  background: #E3D2AD;
  border: 5px solid #CA7D25;
  border-top: none;
}

.bread-top {
  position: absolute;
  width: 98px;
  height: 100px;
  border-radius: 50%;
  background: #E3D2AD;
  border: 5px solid #CA7D25;
  border-top: 8px solid #CA7D25;;
  border-right: none;
}

.bread-top::after {
  content: '';
  position: absolute;
  right: -103px;
  top: -5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #E3D2AD;
  border: 5px solid #CA7D25;
  border-top: 8px solid #CA7D25;
  border-left: none;
}
 
@media screen and (max-width: 976px) {
  .breader-container {
    display: none;
  }
  .overview {
    gap: 0rem;
    margin: 0;
    font-size: 0.5rem;
  }
  .banner {
    border: 0px;
    height: 0;
    width: 0;
  }
}